.scroll {
  &::-webkit-scrollbar {
    width: 0.533rem;
    height: 0.533rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-300;
    border-radius: 6.667rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $grey-400;
  }
}