@import '../assets/manrope/style.css';

* {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Manrope';
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 29px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 22px;
}

.title-1 {
  font-size: 24px;
}

.title-2 {
  font-size: 23px;
}

.title-3 {
  font-size: 17px;
}

.title-4 {
  font-size: 15px;
}

.title-5 {
  font-size: 13px;
}
