@import '../assets/fonts/style.css';

body {
  font-size: 15px;
}

* {
  font-weight: 400;
  font-family: 'Manrope';
}

h1 {
  font-size: 2.667rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.933rem;
}

h4 {
  font-size: 1.667rem;
}

h5 {
  font-size: 1.467rem;
}

h6 {
  font-size: 1.467rem;
}

.title-1 {
  font-size: 1.6rem;
}

.title-2 {
  font-size: 1.533rem;
}

.title-3 {
  font-size: 1.133rem;
}

.title-4 {
  font-size: 1rem;
}

.title-5 {
  font-size: 0.867rem;
}
